<h1>Request Permissions</h1>
<p>Hi <b><%= user.username + (user.email ? (' (' + user.email + ')') : '') %></b>!</p>
<p>Client application <b><%= client.name %></b> is requesting access to your account.</p>
<p>Permissions requested: <b><%= scope %></b></p>
<p>Redirect URI: <b><%= redirectURI %></b></p>
<p>Do you approve?</p>

<form action="/oauth/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>">
  <div>
  <input type="submit" value="Allow" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>
</form>
